In [1]:
!pwd

/Users/rayduong/Documents/GitHub/scrgt-bdso-cc-datascience/genreClassification

In [29]:
import os
# os.chdir('/home/jovyan/scrgt-bdso-cc-datascience/datapipeline'
os.chdir('/Users/rayduong/Documents/GitHub/scrgt-bdso-cc-datascience/datapipeline')

os.environ["ESHOST"] ='localhost'
os.environ["ESPORT"] ='9200'
ESHOST= os.environ.get('ESHOST')
ESPORT= os.environ.get('ESPORT')

# Extract list of movies by actor by genre

In [30]:
import os
import sys
import time
import logging
import numpy as np
import pandas as pd
from datetime import datetime
import urllib.parse
import http.client
import json
import logging
logger = logging.getLogger('personCasting')
logger.setLevel(logging.INFO)

In [50]:
import numpy as np
import nltk
from nltk.stem import PorterStemmer

from nltk.corpus import stopwords
nltk.download('stopwords')
nltk.download('punkt')
stopwords=  set(stopwords.words('english'))

from nltk.tokenize import RegexpTokenizer

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/rayduong/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /Users/rayduong/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [31]:
path_to_json = './data/cast/themoviedb/'
json_files = [path_to_json+pos_json for pos_json in os.listdir(path_to_json) if pos_json.endswith('.json') ]
len(json_files)

theMovieDB=[]
for fname in json_files:
    try:
        with open(fname, 'r') as f:
            r = json.load(f)   
            for row in r:
                theMovieDB.append(row)

    except Exception as e:
        #extract.update({ columns[key]  : '' } )
        logger.info('Unable to find key : '+ fname + '::' +str(e))

In [32]:
json_files[:1]

['./data/cast/themoviedb/themoviedb_c_21.json']

In [33]:
theMovieDB=[]
for fname in json_files:
    try:
        with open(fname, 'r') as f:
            r = json.load(f)   
            for row in r:
                theMovieDB.append(row)

    except Exception as e:
        #extract.update({ columns[key]  : '' } )
        logger.info('Unable to find key : '+ fname + '::' +str(e))

In [34]:
# theMovieDB=[]
len(theMovieDB)

2741

In [48]:
castDF =  pd.DataFrame.from_dict(theMovieDB , dtype=str)
castDF.head()

,_actorID,_source,actor,actorID,character,characterID,created_utc_dt,movieID,movieTitle
0,21,themoviedb,Adam Sandler,19292,George Simmons,52fe43fcc3a368484e0092f7,"09/09/2019, 18:02:25",20829,Funny People
1,21,themoviedb,Adam Sandler,19292,Monkey (voice),52fe46aa9251416c9105bb25,"09/09/2019, 18:02:25",38317,Zookeeper
2,21,themoviedb,Adam Sandler,19292,Lenny Feder,52fe46b29251416c9105c999,"09/09/2019, 18:02:25",38365,Grown Ups
3,21,themoviedb,Adam Sandler,19292,Danny Maccabee,52fe47cbc3a36847f81488b1,"09/09/2019, 18:02:25",50546,Just Go with It
4,21,themoviedb,Adam Sandler,19292,Jack / Jill,52fe484dc3a368484e0f2067,"09/09/2019, 18:02:25",71880,Jack and Jill

In [36]:
path_to_json = './data/movies/wikipedia/'
json_files = [path_to_json+pos_json for pos_json in os.listdir(path_to_json) if pos_json.endswith('.json') and os.stat(path_to_json+pos_json).st_size>0]
len(json_files)

moviesPlot=[]

for fname in json_files:
    with open(fname, 'r') as f:
        r = json.load(f)   
        columns= {'_movieID': '_movieID', 'plot': 'plot', 'summary': 'summary' }
        
        extract ={}
        for key in columns:
            try: 
                extract.update({ columns[key] : r[key] } )
            except Exception as e:
                extract.update({ columns[key]  : '' } )
                logger.info('Unable to find key : '+ key + '::' +str(e))

        moviesPlot.append(extract)

In [37]:
moviesPlot[1:10]

[{'_movieID': '392217', 'plot': '', 'summary': ''},
 {'_movieID': '578547', 'plot': '', 'summary': ''},
 {'_movieID': '341689',
  'plot': '',
  'summary': 'For the film based on the story, see How to Talk to Girls at Parties (film)"How to Talk to Girls at Parties" is a science fiction short story written in 2006 by Neil Gaiman.\nIt is about a couple of British 1970s teen-aged boys, Enn and Vic, who go to a party to meet girls, only to find that the girls are very different from the boys\' expectations. \n"How to Talk to Girls at Parties" was nominated for the 2007 Hugo Award for Best Short Story and won the Locus Award for Best Short Story.  In 2009 it was the inspiration for a limited-edition poster with art by Camilla d\'Errico, which was sold through Gaiman\'s merchandising site Neverwear. The poster had a limited run of 1200 numbered copies, and 10% of the proceeds were donated to the Comic Book Legal Defense Fund, a favourite charity of Gaiman\'s.'},
 {'_movieID': '20178',
  'plot': "Lance Clayton (Robin Williams)  is a single father and high school English teacher whose biggest fear is that he will one day end up all alone. He dreams of becoming a famous writer, but his previous novels have all been rejected by publishers. His 15-year-old son Kyle (Daryl Sabara) is a pornography-obsessed underachiever who despises and is annoyed by everyone, especially his father. Kyle is a student at the school where Lance teaches an unpopular poetry class. His only friend is Andrew, a fellow student who spends his evenings at the Claytons' house trying to avoid his alcoholic mother. Kyle's consistently poor academic performance and vile behavior gain the attention of the school principal (Geoff Pierson), who advises Lance that Kyle should transfer to a special-needs school. Lance is in a non-committal relationship with a younger teacher named Claire (Alexie Gilmore), who is spending time with a fellow teacher named Mike (Henry Simmons), whose writing class is more successful than Lance's. On nights when Claire cancels their dates and he is alone, Lance bonds with his elderly neighbor Bonnie (Mitzi McCall).\nOne night, after Kyle and Lance spend an evening with Claire, Lance discovers that Kyle has died in an autoerotic asphyxiation accident in his bedroom. To avoid embarrassing his son, he stages Kyle's death as a suicide. He writes a suicide note on Kyle's computer and hangs his son's body in the closet. A classmate later obtains the suicide note from police records and publishes it in the school newspaper. The note strikes a chord with the students and faculty, and suddenly many students claim to have been friends with Kyle and are touched by how deep and intelligent he shows himself to be in his writings.\nEnjoying the attention his writing is finally receiving, Lance decides to write and publish a phony journal that was supposedly written by his son before his death. Kyle becomes something of a postmortem cult phenomenon at the school, and soon Lance begins to receive the adoration that he has always desired. Andrew finds Kyle's suicide note and journals as highly uncharacteristic based on Kyle's personality when he was alive, but Lance brushes him off when Andrew confronts him. The journal soon attracts the attention of book publishers and Lance lands a television appearance on a nationally broadcast talk show. The school principal then decides to rename the school library in Kyle's honor.\nAt the library dedication, Lance starts to feel guilty for exploiting his son's death for his own benefit as well as hatred towards those who pretend to like Kyle when in reality they didn't. While giving a speech, Lance decides he can no longer continue the charade and confesses to everyone that Kyle's death was accidental, and that he wrote the suicide note and journal. Predictably, Lance is denounced by the students and faculty, including Claire; and at the same time finally realizes that it is better to be alone than to end up with people who make you feel all alone. Despite now being despised by everyone, Lance nevertheless feels reborn and dives naked into the school's swimming pool. Outside, Andrew tells Lance that he knew the truth all along, and that he enjoyed Lance's writing and encourages him to keep writing which Lance says he will. The film ends as the two happily watch a zombie movie with Bonnie.",
  'summary': "World's Greatest Dad is a 2009 American satirical black comedy-drama film written and directed by Bobcat Goldthwait and starring Robin Williams, Daryl Sabara, and Alexie Gilmore. The film was released on July 24, 2009 on video on demand providers before its limited theatrical release on August 21, 2009.\n\n"},
 {'_movieID': '258230',
  'plot': '13-year-old Conor O\'Malley holds a close bond to his seriously ill mother, and maintains the household during her regular chemotherapy treatments at the hospital. Conor\'s grandmother often visits, and she suggests that Conor live with her in the event of his mother\'s death. Conor is reluctant to take up this offer due to her cold personality. At school, Conor is ridiculed as a daydreamer and is regularly tormented by his classmate Harry. Conor is also plagued by a nightmare in which the old church near his house collapses and falls into a hole, where someone else is in danger of plummeting and he tries to hold onto them. Conor vents his emotions via drawing, a talent he inherited from his mother. One night, exactly seven minutes past midnight, he awakes from his nightmare to see the large yew tree next to the church transform into a gnarled monster that approaches Conor\'s home and speaks to him. The Monster says that it will tell Conor three stories during their next meetings, after which Conor must tell the Monster a fourth tale in return.\nIn the Monster\'s first story, a prince escapes from his stepmother, the supposedly-evil queen, with his bride, but then kills his sleeping bride under a yew tree and makes the queen into a scapegoat so that his people can drive the queen away and make him king. As the condition of Conor\'s mother worsens, Conor moves in with his grandmother. Conor\'s father, who lives in Los Angeles with a new family, visits Conor and invites him to visit his stepfamily on Christmas, which gives Conor hope that he might live with him permanently. After Conor angrily damages his grandmother\'s valuable watch, the Monster appears and tells his second story: a hard-hearted parson forbids an apothecary from extracting medicine from an old yew tree, only to rescind this measure when his own children become ill. However, the apothecary cannot help him, and the Monster begins to destroy the parson\'s house as punishment. Conor enthusiastically joins in on the destruction, but comes to find that he has decimated his grandmother\'s living room. His grandmother, while bitter, does not punish Conor.\nConor\'s mother\'s condition declines further, and her doctors turn to a final treatment involving yew wood. Conor learns of this and implores the Monster to heal his mother, only for the Monster to dismiss the matter as outside of his responsibility. At school, Harry proclaims to Conor that he will no longer bother Conor because he "no longer sees [him]". The Monster appears and tells a story of an invisible man who did not want to be so. With the Monster\'s support, Conor attacks Harry and hospitalizes him. To Conor\'s astonishment, the headmistress refrains from punishing Conor as she comprehends Conor\'s current situation. When it becomes clear that his mother will die, Conor runs to the yew tree, where the Monster forces him to relive his nightmare, in which his mother dangles for her life. Conor finally admits that he had long suspected that his mother would not survive her illness and secretly hoped that she would die soon, which fills him with guilt. The Monster tells him that he did not truly want his mother to die, but simply to end his own suffering. Conor\'s grandmother finds him asleep under the yew tree and drives him to the hospital, during which Conor reconciles with her. At the hospital, Conor embraces his mother one last time before she dies seven minutes past noon. Conor returns to his grandmothers house, where his mother\'s old room is refurbished for him. In the room, he finds his mother\'s old art book, which depicts the stories that were told to him by the Monster, and a drawing of his mother as a child with the Monster.',
  'summary': 'A Monster Calls is a 2016 dark fantasy film directed by J. A. Bayona and written by Patrick Ness, based on his novel of the same name. The film stars Sigourney Weaver, Felicity Jones, Toby Kebbell, Lewis MacDougall, and Liam Neeson, and tells the story of Conor (MacDougall), a child whose mother (Jones) is terminally ill; one night, he is visited by a monster in the form of a giant anthropomorphic yew tree (Neeson), who states that he will come back and tell Conor three stories. The film is an international co-production between Spain, United Kingdom and the United States.A Monster Calls premiered at the 2016 Toronto International Film Festival on 10 September 2016. It was then released in Spain on 7 October 2016, and in the United Kingdom on 1 January 2017. In the United States, the film began a limited release in on 23 December 2016, followed by a wide release on 6 January 2017. It received positive reviews, being praised for its themes, directing, performances and visual effects, but did average business at the box office, grossing $47 million worldwide on a budget of $43 million.'},
 {'_movieID': '50780',
  'plot': '',
  'summary': "The beaver (genus Castor) is a large, primarily nocturnal, semiaquatic rodent. Castor includes two extant species, the North American beaver (Castor canadensis) (native to North America) and Eurasian beaver (Castor fiber) (Eurasia). Beavers are known for building dams, canals, and lodges (homes). They are the second-largest rodent in the world (after the capybara). Their colonies create one or more dams to provide still, deep water to protect against predators, and to float food and building material. The North American beaver population was once more than 60 million, but as of 1988 was 6–12 million. This population decline is the result of extensive hunting for fur, for glands used as medicine and perfume, and because the beavers' harvesting of trees and flooding of waterways may interfere with other land uses."},
 {'_movieID': '601124', 'plot': '', 'summary': ''},
 {'_movieID': '95675', 'plot': '', 'summary': ''},
 {'_movieID': '336472',
  'plot': '',
  'summary': 'Love Thy Nature is a 2016 documentary film directed by Sylvie Rokab and narrated by Liam Neeson. The film underwent development in the mid-2000s, with production lasting nearly a decade. Produced and distributed by In The Light Productions, the first version of the film premiered on 18 October 2014 at the Hollywood Film Festival, with a film festival run throughout 2014 and 2015 and a theatrical run with the final version of the film in 2016. It has had nearly 300 theatrical and community screenings in 140 cities in 16 countries, earned 27 awards, and was covered in 28 publications.The film has been used to help advance local environmental organizations\' mission as well as grow the nature-connecting movement. The film team partnered with film screenings\' hosts to create "view and do" events, offering audience members the opportunity to engage in a nature program following the screening of the film. Rokab expanded this concept by creating Love Thy Nature Journeys with expeditions and workshops which start with the screening of the film and then transitions into activities guiding attendees in the wilderness for nature communion and forest therapy.'}]

In [38]:
plotDF =  pd.DataFrame.from_dict(moviesPlot , dtype=str)
plotDF[plotDF['plot']==''].head()

  _movieID plot                                            summary
0   574837
1   392217
2   578547
3   341689       For the film based on the story, see How to Ta...
6    50780       The beaver (genus Castor) is a large, primaril...

In [39]:
path_to_json = './data/movies/imdb/'
json_files = [path_to_json+pos_json for pos_json in os.listdir(path_to_json) if pos_json.endswith('.json') and os.stat(path_to_json+pos_json).st_size>0]
len(json_files)

movieGenre =[]

for fname in json_files:
    with open(fname, 'r') as f:
        r = json.load(f)   
        columns= {'_id': '_movieID', 'plot outline': 'plot', 'genres': 'genres' }
        
        extract ={}
        for key in columns:
            try: 
                if key == 'genres':
                    extract.update({'genres': ','.join(r[key]) })
                else:
                    extract.update({ columns[key] : r[key] } )
            except Exception as e:
                extract.update({ columns[key]  : '' } )
                logger.info('Unable to find key : '+ key + '::' +str(e))

        movieGenre.append(extract)

In [13]:
movieGenreDF =  pd.DataFrame.from_dict(movieGenre , dtype=str)
movieGenreDF.head()

,_movieID,genres,plot
0,376530,"Documentary,Adventure,Sport",This spellbinding documentary follows Aisholpa...
1,38319,"Comedy,Fantasy","Throughout history, tales of chivalry have bur..."
2,312221,"Drama,Sport",Adonis Johnson is the son of the famous boxing...
3,178619,"Documentary,Short",
4,354857,"Animation,Action,Adventure,Comedy,Family,Fanta...","After a future, dying Rigby comes to warn the ..."

In [40]:
plotDF.head()

,_movieID,plot,summary
0,574837,,
1,392217,,
2,578547,,
3,341689,,"For the film based on the story, see How to Ta..."
4,20178,Lance Clayton (Robin Williams) is a single fa...,World's Greatest Dad is a 2009 American satiri...

In [41]:
castDF.head()

,_actorID,_source,actor,actorID,character,characterID,created_utc_dt,movieID,movieTitle
0,21,themoviedb,Adam Sandler,19292,George Simmons,52fe43fcc3a368484e0092f7,"09/09/2019, 18:02:25",20829,Funny People
1,21,themoviedb,Adam Sandler,19292,Monkey (voice),52fe46aa9251416c9105bb25,"09/09/2019, 18:02:25",38317,Zookeeper
2,21,themoviedb,Adam Sandler,19292,Lenny Feder,52fe46b29251416c9105c999,"09/09/2019, 18:02:25",38365,Grown Ups
3,21,themoviedb,Adam Sandler,19292,Danny Maccabee,52fe47cbc3a36847f81488b1,"09/09/2019, 18:02:25",50546,Just Go with It
4,21,themoviedb,Adam Sandler,19292,Jack / Jill,52fe484dc3a368484e0f2067,"09/09/2019, 18:02:25",71880,Jack and Jill

In [42]:
castDF['movieID'] = castDF['movieID'].astype(str)
castMoivesDF = castDF.merge( plotDF, how='inner', left_on = 'movieID', right_on = '_movieID')
castMoivesDF = castMoivesDF.merge( movieGenreDF, how='inner', left_on = '_movieID', right_on = '_movieID')

castMoivesDF['plotCombine'] = castMoivesDF['movieTitle']+ ' '+ castMoivesDF['plot_x']+' '+castMoivesDF['summary']+' '+castMoivesDF['plot_y']
extractDF=castMoivesDF[['_actorID', 'actor', '_movieID', 'plotCombine', 'genres']]
extractDF.head()

,_actorID,actor,_movieID,plotCombine,genres
0,21,Adam Sandler,20829,Funny People George Simmons is a middle-aged r...,"Comedy,Drama"
1,21,Adam Sandler,38365,"Grown Ups In 1978, five 12-year-olds win a C...",Comedy
2,21,Adam Sandler,76492,"Hotel Transylvania In 1895, in the aftermath o...","Animation,Comedy,Family,Fantasy,Horror"
3,21,Adam Sandler,87428,That's My Boy The film begins in Massachusetts...,Comedy
4,21,Adam Sandler,232672,Blended After a blind date gone horribly wro...,"Comedy,Romance"

In [43]:
# Combine all the movie plots from different data sources into one field
# Given a moive can belong into multiple genre, create row for each movie plot

extractDF = extractDF['genres'].str.split(',').apply(pd.Series) \
.merge(extractDF, right_index = True, left_index=True) \
.drop(['genres'], axis =1) \
.melt(id_vars =['_actorID', 'actor', '_movieID', 'plotCombine'], value_name='genre') \
.drop('variable', axis=1) \
.dropna()

In [44]:
Test 
extractDF[extractDF['_movieID']=='76492']

,_actorID,actor,_movieID,plotCombine,genre
2,21,Adam Sandler,76492,"Hotel Transylvania In 1895, in the aftermath o...",Animation
1307,21,Adam Sandler,76492,"Hotel Transylvania In 1895, in the aftermath o...",Comedy
2612,21,Adam Sandler,76492,"Hotel Transylvania In 1895, in the aftermath o...",Family
3917,21,Adam Sandler,76492,"Hotel Transylvania In 1895, in the aftermath o...",Fantasy
5222,21,Adam Sandler,76492,"Hotel Transylvania In 1895, in the aftermath o...",Horror

In [45]:
# Combine all the different movie plots by actor and genre.

actorGenreSummary = extractDF.groupby(['_actorID', 'actor', 'genre'])['plotCombine'].apply(lambda x: ' '.join(x)).reset_index()
actorGenreSummary.head()

,_actorID,actor,genre,plotCombine
0,1,Robert Downey Jr.,Action,Sherlock Holmes Sherlock Holmes ( or ) is a f...
1,1,Robert Downey Jr.,Adventure,"Due Date Peter Highman (Robert Downey Jr.), a ..."
2,1,Robert Downey Jr.,Biography,"I Am Steve McQueen I Am Steve McQueen"" is to..."
3,1,Robert Downey Jr.,Comedy,"Due Date Peter Highman (Robert Downey Jr.), a ..."
4,1,Robert Downey Jr.,Crime,The Judge A judge is a person who presides ov...

In [22]:
# Get counts by genre
extractDF.groupby('genre').count()

             _actorID  actor  _movieID  plotCombine
genre
                    8      8         8            8
Action            269    269       269          269
Adventure         174    174       174          174
Animation          91     91        91           91
Biography         128    128       128          128
Comedy            398    398       398          398
Crime             173    173       173          173
Documentary       282    282       282          282
Drama             535    535       535          535
Family            122    122       122          122
Fantasy           123    123       123          123
Film-Noir           1      1         1            1
Game-Show           1      1         1            1
History            59     59        59           59
Horror             68     68        68           68
Music              53     53        53           53
Musical            25     25        25           25
Mystery            94     94        94           94
News                8      8         8            8
Reality-TV          2      2         2            2
Romance           146    146       146          146
Sci-Fi            121    121       121          121
Short             114    114       114          114
Sport              76     76        76           76
Thriller          260    260       260          260
War                39     39        39           39
Western            12     12        12           12

In [23]:
# Get a list of generes

', '.join(extractDF['genre'].unique().tolist())

'Comedy, Animation, Action, Documentary, Short, Adventure, Drama, Biography, Music, Thriller, Horror, Mystery, Crime, Sport, Musical, , Family, Game-Show, Reality-TV, Fantasy, Romance, Sci-Fi, History, War, Western, News, Film-Noir'

In [53]:
actorGenreCatalog = actorGenreSummary.to_json(orient='records')
actorGenreJson = eval(actorGenreCatalog)
len(actorGenreJson)

1228

In [54]:
# Save model lookup 
pickle.dump( actorGenreJson, open( "./models/actorGenreDict.pkl", "wb" ) )

In [55]:
sentencesAll = actorGenreSummary['plotCombine'].tolist()
len(sentencesAll)

1228

In [56]:
def tokenizeDoc(docs, stopwords=stopwords ):
    i=0
    for doc in docs:
        tokenizer = RegexpTokenizer(r'\w+')
        tokens = tokenizer.tokenize(doc.lower())
        # Stem words
        #ps = PorterStemmer()
        #tokens = [ps.stem(word) for word in tokens]
        # Remove stop words.
        tokens = [word for word in tokens if word not in stopwords]
        fdist1 = nltk.FreqDist(tokens)
        words = list(word for word, freq in fdist1.items() if not word.isdigit())

        docs[i] = ' '.join(words[:3000])
        i += 1
    return docs

In [57]:
def cleanSentences(sentences):
    punctuation = '!"#$%&()*+-/:;<=>?@[\\]^_`{|}~'  #TBD
        #TBD - find sentence splitter - 
        # remove punctuation, strip white space; remove non-standard characters; remove numbers; 
    i = 0
    for s in sentences:
        s = s.strip()
        s = s.lower().replace('\n', ' ').replace('\t', ' ').replace('\xa0',' ').replace("[0-9]", " ")
        s = s.replace(',', '').replace('.','') #TBD - replace with punctuation
        #s = s[0:2000]
        sentences[i] = s
        i += 1
    return sentences

In [58]:
sentences = tokenizeDoc(sentencesAll)

In [59]:
sentences[1]

'due date peter highman robert downey jr successful architect fly home atlanta los angeles wife sarah michelle monaghan give birth way airport chance encounter ethan tremblay zach galifianakis going la actor planning scatter recently deceased father ashes grand canyon misuses words terrorist bomb talking escorted plane first series misadventures caused drastically dysfunctional list missing wallet agrees drive stops buy marijuana discovers nearly money since gets wire wired stage name instead legal western union employee danny mcbride refuses accept leads violent altercation night rest stop decides abandon realizes still forgotten unload stuff left causes wrestle conscience return drives get falls asleep wheel crashes car picked friend darryl jamie foxx part company initially persuades otherwise throws mistakenly drinking stored coffee tin lets use range rover make trip mexico united states border despite assuring handle situation flees arrested possession mexican federal police lock steals truck breaks causing several process finally scatters confesses tried leave area makes confession entire time seemingly forgives attacks rage interrupted call gone labor california finds gun accidentally shoots arriving hospital passes loss blood delivers baby safely expresses discomfort new daughter named rosie leaves telling end guest stars episode favorite television program two half men watching bed american black comedy film directed todd phillips written alan r cohen freedland adam sztykiel follows man must across country child forced road aspiring juliette lewis also star shot las cruces georgia tuscaloosa alabama released november received mixed reviews critics grossed million worldwide business straight laced overly analytical flying imminent however traveling longer becomes option fellow passenger kicked social inappropriateness generally unaware exacerbated temper sensibilities ends without suitcase offer shared ride looking big acting break partnership one made hell feels choice obviously wants take direct quick route possible mercy person driver license rental misadventure another issue ineptness adult combined resulting questions become whether survive together witness sherlock holmes fictional private detective created british author sir arthur conan doyle referring consulting stories known proficiency observation forensic science logical reasoning borders fantastic employs investigating cases wide variety clients including scotland yard appearing print study scarlet character popularity became widespread short strand magazine beginning scandal bohemia additional tales appeared eventually totalling four novels set victorian edwardian eras narrated biographer dr watson usually accompanies investigations often shares quarters address 221b baker street london many begin though arguably best guinness world records listing portrayed movie history fame believed real individual numerous literary fan societies founded pretend operate principle widely considered cultural icon profound lasting effect mystery writing popular culture whole original well thousands authors adapted radio plays films video games media hundred years catching serial killer occult sorcerer lord blackwood legendary sleuth assistant close yet case mysteriously returns grave resumes killing spree hunt contending partner fiancée dimwitted head dauntless unravel clues lead twisted web murder deceit magic deadly embrace temptress irene adler game shadows package hoffmanstahl payment letter deliver opens triggering hidden prevented detonating intervention takes escape assassinated moments later meets professor moriarty explain events deeming position compromised love poisons kills arrives discloses unrelated murders acquisitions around globe connected meeting brother mycroft bachelor party gypsy fortune teller simza intended recipient took sent rene defeats assassin kill interrogate wedding mary morstan subtly requests alone working indicates interferes voicing respect perseverance taunts murdering swears revenge attack train honeymoon followed pair protect river rescued defeating travel paris locate found tells targeted may told plans headquarters anarchist group formerly belonged learn anarchists plant bombs trio deduction opera late tricked nearby hotel explosion number assembled businessmen cover specific assassination alfred meinhard attendees henchman sebastian moran death grants ownership arms factory germany wishing repeat mistake previous evening spies learning travelling deduces visit newly acquired follow captures interrogates tortures fights spells plot revealing secretly multiple war profiteering companies using various pseudonyms conceal identity intends instigate meanwhile uses cannon hiding behind destroy watchtower concealed structure collapses warehouse holding captive injured reunite aboard moving final target peace summit switzerland creating international incident disguised ambassadors given radical reconstructive surgery attendance retreat upon balcony discuss competing chess find attempt discreetly killed averted remains confident victory warning nations europe inevitably go regardless manipulations reveals tortured replaced personal diary contained financing duplicate decrypted code book noticed office passing information inspector lestrade seizes assets donates anti charities anticipate impending physical realise would win shoulder options sadistic vengefully vowing afterward grabs lunges backwards reichenbach presumed dead following funeral prepare belated receives containing breathing device expressed liking realizing alive delivery urban camouflage suits reads memoirs typewriter adds question mark period action guy ritchie produced joel silver lionel wigram susan dan lin sequel features john characters screenplay michele mulroney kieran jude law reprise roles alongside noomi rapace stephen fry jared harris rachel mcadams although premise incorporates elements problem adventure empty house romani adventuress foil intricate cunning nemesis release positive commercially gross third december longtime trusted associate doctor arch help older'

In [60]:
import tensorflow.compat.v1 as tf
import tensorflow_hub as hub

config = tf.ConfigProto()
config.intra_op_parallelism_threads = 200
config.gpu_options.allow_growth = True
tf.Session(config=config)


url = "https://tfhub.dev/google/elmo/2"
embed = hub.Module(url)

elmodir = os.getcwd()+'/models/'

In [34]:
def embed_text(text):
    vectors = session.run(embeddings, feed_dict={text_ph: text})
    return [vector.tolist() for vector in vectors]

In [35]:
# score n Sentences at time - to pipeline this
def defineEmbeddings (start, end):    
    embeddings = embed(
        sentences[start:end],
        signature="default",
        as_dict=True)["default"]
    return embeddings# Save Weights - use names based on Movie 

import pickle as pkl
# score sentences
def scoreSentences (embeddings):
    with tf.Session() as sess:
        sess.run(tf.global_variables_initializer())
        sess.run(tf.tables_initializer())
        x = sess.run(embeddings)
    return x

def saveWeights(elmoFN, x):
    with open('./models/'+elmoFN,'wb') as f: pkl.dump(x, f)
    return

In [ ]:
import math 

batch_size = 50                    # Specify number of sentences per file  (was 500)
numPlots = len(sentences)
numfiles = math.ceil(numPlots/batch_size) 

start = 0
end = batch_size
for file in range(1,numfiles+1):
    elmoFN = 'elmoPlotsweights' + str(start) + 'to' + str(end) + '.pkl'
    print('Score sentences:', elmoFN)

        # Define Embeddings, Score, and Store Weights one Batch of N at time
    embeddings = defineEmbeddings(start, end)
    x = scoreSentences(embeddings)
    saveWeights(elmoFN,x)
    start = end
    end = end+batch_size

In [ ]:
# Read Weights - use names based on Movie 
# TBD - add row num -- TBD Save with Movie ID 
# TBD - missing a row ERROR
import pickle as pkl
import numpy as np
import glob

def readElmoWeightFile(file):
    with open(elmodir+file, 'rb') as f:
        elmo_file = pkl.load(f)
    return list(elmo_file)
  
def readWeights(elmodir):
    noFiles = len([name for name in os.listdir(elmodir) ])
    xin = readElmoWeightFile('elmoPlotweights0to'+str(batch_size)+'.pkl')
    size = batch_size
    for x in range(1, noFiles):
        start = x*size
        end = start+size
        filename = 'elmoPlotweights' + str(start) + 'to' + str(end) + '.pkl'
        print(filename)
        xin += readElmoWeightFile(filename)
    return xin

In [ ]:
len(xin[0])

In [ ]:
#Export Dictonary and GenrePlot Vectors
import pickle
pickle.dump( actorGenreJson, open( "./models/actorGenreDict.pkl", "wb" ) )
pickle.dump( xin, open( "./models/actorGenreVect.pkl", "wb" ) )

# Push Model to Production

In [ ]:
actorGenreJson = pickle.load( open( '../models/actorGenreDict.pkl', 'rb' ) )
xin = pickle.load( open( '../models/actorGenreVect.pkl', 'rb' ) )

## Test Elasticsearch to store the vertor and peform cosine similarity score.

In [ ]:
import requests
from pprint import pprint
from datetime import datetime
from elasticsearch import Elasticsearch
import json


_index='genresplot'
esIndex = 'http://'+ESHOST+':'+ESPORT+'/'+_index  
es=Elasticsearch([{'host':ESHOST,'port':ESPORT}])

_doc= 'genreplot'

headers={"Content-Type": "application/json"}

In [ ]:
request_body = {
  "mappings": {
    "properties": {
      "_actorID" : {
        "type" : "keyword"
      },     
      "celebrity" : {
        "type" : "keyword"
      }, 
      "genre" : {
        "type" : "keyword"
      }, 
                
      "genre_vector": {
        "type": "dense_vector",
        "dims": 1024
      }

    }
  }
}

try:
    es.indices.delete(index = _index)
except:
    pass
    
es.indices.create(index = _index, body = request_body)

In [ ]:
actorGenreJson[0]

In [ ]:
# Load Facail data into ES
for i in range(len(actorGenreJson)):
    actorGenre =actorGenreJson[i]
    _id = actorGenre['_actorID']+'-'+actorGenre['genre']
    #print(_id)
    doc = {
        "_actorID" : actorGenre['_actorID'],
        "celebrity": actorGenre['actor'],
        "genre": actorGenre['genre'],
        "genre_vector": [float(x) for x in xin[i]]
        }
    r = requests.put(esIndex+'/_doc/'+_id, headers= headers, data = json.dumps(doc))
    print (r.text)

In [ ]:
def getCelbGenre( celebrity): 
    q={
      "_source": {
        "includes": [ "genre"]
        },
      "query": { 
        "bool": { 
          "must": [
            { "match": { "celebrity":celebrity}}
          ]
        }
      }
    }
    res= es.search(index=_index, body=json.dumps(q))
    if res['hits']['hits']:
        results=[]
        matches = res['hits']['hits']
        for match in matches:
            results.append(match['_source']['genre'])
        return results
    else:
        return None

In [ ]:
def getCelbGenreVec( celebrity, genre): 
    q={
      "query": { 
        "bool": { 
          "must": [
            { "match": { "celebrity":celebrity}}
          ],
          "filter": [ 
            { "term":  { "genre": genre }}
          ]
        }
      }
    }
    res= es.search(index=_index, body=json.dumps(q))
    if res['hits']['hits']:
        match = res['hits']['hits'][0]
        #print(match)
        return match['_source']['genre_vector']
    else:
        return None

In [ ]:
def getSimilarGenreVec( genre_vec, genre): 
    q={
          "query": {
            "script_score": {
             "query": {
                    "terms" : { "genre" : [genre]}
                },
              "script": {
                "source": "cosineSimilarity(params.query_vector, doc['genre_vector']) + 1.0", 
                "params": {
                  "query_vector": genre_vec
                }
              }
            }
          }
        }
    #print(json.dumps(q))
    res= es.search(index=_index, body=q)

    res= es.search(index=_index, body=json.dumps(q))
    if res['hits']['hits']:
        matches = res['hits']['hits']
        #print(match)
        results=[]
        for match in matches:
            results.append( { 'genre': genre, 'celebrity': match['_source']['celebrity'], 'score': match['_score']})
        return (results) 
    else:
        return None

In [ ]:
# 'Comedy, Animation, Action, Documentary, Short, Adventure, Drama, Biography, Music, Thriller, Horror, Mystery, Crime, Sport, Musical, , Family, Game-Show, Reality-TV, Fantasy, Romance, Sci-Fi, History, War, Western, News, Film-Noir'
celebritySearch = 'Robert Downey Jr.'
genreSearch='Adventure'

getCelbGenre(celebritySearch)

In [ ]:
genreVec = getCelbGenreVec(celebritySearch, genreSearch)
getSimilarGenreVec( genreVec, genreSearch)

# Recommendations Celebrity alterative based on their past genre movies.

* For a given Celebrity, reference all the genre we have information on. Retrieve the genre vector space based on 
the list of movies plots the actor performed in the past.
* Calculate the cosine distince and recommend other celebrities who performed in similar movies based on their plots

In [ ]:
resByDrama=[]

for genreSearch in getCelbGenre(celebritySearch):
    genreVec = getCelbGenreVec(celebritySearch, genreSearch)
    genreRecs = getSimilarGenreVec( genreVec, genreSearch)
    # Remove the search celebrirty from the recomendations
    resByDrama = resByDrama+ [i  for i in genreRecs if i['celebrity']!= celebritySearch ] 
    
resByDrama

In [ ]:
from IPython.display import Image, HTML, display

display(HTML("<h2>Get similar celebrities for: %s</h2>"% celebritySearch))

pd.DataFrame.from_dict(resByDrama, dtype=str)

In [ ]:

resultDF = pd.DataFrame.from_dict(resByDrama, dtype=str)   

resultDF.info()